[scripts]
target_coverage_estimator = /home/dieterbest/Analysis/varpipe4/tools/target_coverage_estimator.py
genome_coverage_estimator = /home/dieterbest/Analysis/varpipe4/tools/genome_coverage_estimator.py
genome_stats_estimator = /home/dieterbest/Analysis/varpipe4/tools/genome_stats_estimator.py
stats_estimator = /home/dieterbest/Analysis/varpipe4/tools/stats_estimator.py
lineage_parser = /home/dieterbest/Analysis/varpipe4/tools/lineage_parser.py
struct_parser = /home/dieterbest/Analysis/varpipe4/tools/structvar_parser.py
create_report = /home/dieterbest/Analysis/varpipe4/tools/create_report.py
print_report = /home/dieterbest/Analysis/varpipe4/tools/pdf_print.py
interpreter = /home/dieterbest/Analysis/varpipe4/tools/interprete.py
creater = /home/dieterbest/Analysis/varpipe4/tools/create_annotation.py
parser = /home/dieterbest/Analysis/varpipe4/tools/parse_annotation.py

snpeff_database = /home/dieterbest/Analysis/varpipe4/snpEff_database/snpEff.config

mutationloci = /home/dieterbest/Analysis/varpipe4/intervals/mutation_loci.txt
bedlist_amp = /home/dieterbest/Analysis/varpipe4/intervals/tbdb.bed
bedlist_one = /home/dieterbest/Analysis/varpipe4/intervals/bed_1.txt
bedlist_two = /home/dieterbest/Analysis/varpipe4/intervals/bed_2.txt
bedstruct = /home/dieterbest/Analysis/varpipe4/intervals/BED.txt
lineages = /home/dieterbest/Analysis/varpipe4/intervals/lineage_markers.txt
reported = /home/dieterbest/Analysis/varpipe4/intervals/reportable.txt
included = /home/dieterbest/Analysis/varpipe4/intervals/tbdb_intervals.bed

[cuts]
percent_reads_mapped = 90
average_genome_coverage_depth = 30
percent_reference_genome_covered = 90
coverage_drop = 0
